[Unit]
Description=startup fs metadata caching
After=multi-user.target

[Service]
Type=oneshot
ExecStart=dircacher 
RemainAfterExit=true

[Install]
WantedBy=multi-user.target

