[Unit]
Description=FS inode caching
After=multi-user.target

[Service]
Type=oneshot
ExecStart=dircacher 
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
